<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
  thermo: [number, number][];
}>();

const lines = computed(() => {
  const thermoLines = [];
  for (let i = 1; i < props.thermo.length; i++) {
    thermoLines.push([props.thermo[i - 1], props.thermo[i]]);
  }
  return thermoLines;
});
</script>

<template>
  <svg class="thermo-image" viewBox="-0.5 -0.5 9 9">
    <circle
      class="thermo-circle"
      :cy="thermo[0][0]"
      :cx="thermo[0][1]"
      r="0.4"
    ></circle>
    <line
      class="thermo-line"
      v-for="(line, lineId) in lines"
      :key="lineId"
      :y1="line[0][0]"
      :x1="line[0][1]"
      :y2="line[1][0]"
      :x2="line[1][1]"
    ></line>
  </svg>
</template>

<style lang="scss">
.thermo-image {
  opacity: 0.3;

  @media print {
    opacity: 0.5;
  }
}

.thermo-circle {
  fill: black;
}

.thermo-line {
  stroke: black;
  stroke-width: 0.25;
  stroke-linecap: round;
}
</style>
