<script setup lang="ts">
import type { SudokuCell } from "@/data/sudokus";
import { computed } from "vue";

const props = defineProps<{
  cell: SudokuCell;
}>();

const colorClass = computed(() =>
  props.cell.color === null ? null : `cell-color-${props.cell.color}`
);
const isPredefined = computed(() => props.cell.predefinedNumber !== null);
const centralNumber = computed(() => {
  if (props.cell.predefinedNumber) {
    return props.cell.predefinedNumber;
  }
  if (props.cell.enteredNumber) {
    return props.cell.enteredNumber;
  }
  return null;
});

const centralNotes = computed(() => props.cell.centralNotes.join(""));
const cornerNotes = computed(() => props.cell.cornerNotes.join(""));
</script>

<template>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 10 10"
    preserveAspectRatio="xMinYMin"
  >
    <rect
      :class="['cell', colorClass, { highlighted: cell.selected }]"
      x="0"
      y="0"
      width="10"
      height="10"
    ></rect>
    <text
      v-if="centralNumber"
      :class="['central-number', { predefined: isPredefined }]"
      x="50%"
      y="50%"
    >
      {{ centralNumber }}
    </text>
    <text v-if="!centralNumber" class="central-notes" x="50%" y="50%">
      {{ centralNotes }}
    </text>
    <text v-if="!centralNumber" class="corner-notes" x="10%" y="20%">
      {{ cornerNotes }}
    </text>
  </svg>
</template>

<style lang="scss">
.cell {
  fill: none;

  &.cell-color-green {
    fill: #b0ffb0;

    @media print {
      fill: #90ee02;
    }
  }
}

@media not print {
  .cell.highlighted {
    stroke-width: 1;
    stroke: $primary;
  }
}

.central-number {
  font-size: 50%;
  text-anchor: middle;
  dominant-baseline: central;
  fill: #666;

  &.predefined {
    fill: black;
  }
}

.central-notes {
  font-size: 15%;
  text-anchor: middle;
  dominant-baseline: central;
}

.corner-notes {
  font-size: 15%;
  text-anchor: start;
  dominant-baseline: central;
}
</style>
