<script setup lang="ts">
import { useMetaStore } from "@/stores/meta";
import { onMounted } from "vue";
import { useI18n } from "vue-i18n";

const { t } = useI18n();

const metaStore = useMetaStore();

onMounted(() => metaStore.setSubTitle(null));
</script>

<template>
  <div class="content">
    <h1>{{ t("title") }}</h1>
    <p>{{ t("main-description") }}</p>
  </div>
</template>

<i18n lang="yaml">
de:
  title: Sudokus
  main-description: Dies ist eine Sammlung von spielbaren Sudokus.

en:
  title: Sudokus
  main-description: This is a collection of playable sudokus.
</i18n>
