<script setup lang="ts">
import type { SudokuKey } from "@/data/sudokus";
import { useSudokuStore } from "@/stores/sudokus";
import { ref, watch } from "vue";
import { useRoute } from "vue-router";
import SudokuPanel from "../components/SudokuPanel.vue";

const route = useRoute();

const sudokuStore = useSudokuStore();

function getSudokuKey(): SudokuKey {
  const key = getSudokuKeyOrUndefined();
  if (key === undefined) {
    throw new Error(`${key} is not supported`);
  }
  return key;
}

function getSudokuKeyOrUndefined(): SudokuKey | undefined {
  const key = route.params.sudokuKey;
  if (key === undefined) return key;
  if (typeof key === "string") {
    if (key in sudokuStore.sudokus) {
      return key as SudokuKey;
    }
    throw new Error(`${key} is not an available sudoku key`);
  }
  throw new Error(`only strings supported, not: ${key}`);
}

const sudokuKey = ref(getSudokuKey());
watch(
  () => route.params.sudokuKey,
  () => {
    const newKey = getSudokuKeyOrUndefined();
    if (newKey !== undefined) {
      sudokuKey.value = newKey;
    }
  }
);
</script>

<template>
  <div class="content">
    <SudokuPanel :sudoku-key="sudokuKey" />
  </div>
</template>
