<script setup lang="ts">
import { useI18n } from "vue-i18n";
import SudokuGrid from "./grid/SudokuGrid.vue";

useI18n();

const props = defineProps<{
  helpTranslation: string;
}>();
</script>

<template>
  <div class="content">
    <h2 v-t="`${props.helpTranslation}.short`"></h2>
    <p v-t="`${props.helpTranslation}.long`"></p>
    <div v-if="props.helpTranslation == 'thermo'">
      <p v-t="'examples'"></p>
      <div class="small-grid">
        <SudokuGrid sudokuKey="thermo-example" readonly />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.small-grid {
  width: 50%;
  margin: auto;
}
</style>

<i18n lang="yaml">
de:
  examples: "Beispiele:"
  normal:
    short: "Normale Sudoku Regeln gelten"
    long: "Jede Zahl von 1-9 darf genau ein Mal in jeder Spalte, Zeile und Box vorkommen."
  thermo:
    short: "Thermo Regeln gelten"
    long: >
      Die Zahlen aller Zellen, welche Teil eines Thermometers sind, müssen aufsteigend sein.
      Die kleinste Zahl ist dabei bei der Kugel des Thermometers und die höchste Zahl am Ende des Thermometers.
en:
  examples: "Examples:"
  normal:
    short: "Normal Sudoku rules apply"
    long: "Every number of 1-9 must appear exactly once in every row, column and box."
  thermo:
    short: "Thermo rules apply"
    long: >
      The numbers in all cells which are part of a thermometer must be increasing.
      The smallest number is in the circular bulb and the largest number is at the end of the thermometer.
</i18n>
