<script setup lang="ts">
import HelpBox from "./HelpBox.vue";

const props = defineProps<{
  helpTranslations: string[];
}>();
const emits = defineEmits(["close"]);
</script>

<template>
  <div class="modal is-active">
    <div class="modal-background" @click="emits('close')"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Help</p>
        <button
          class="delete"
          aria-label="close"
          @click="emits('close')"
        ></button>
      </header>
      <section class="modal-card-body">
        <HelpBox
          :helpTranslation="translation"
          v-for="translation in props.helpTranslations"
          :key="translation"
        />
      </section>
    </div>
  </div>
</template>

<style lang="scss">
.help-popup {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.help-content {
  position: relative;
  max-height: 100%;
  overflow-x: auto;
  background-color: white;
  margin: 0 auto;
  max-width: calc(var(--max-width) / 1.5);
  box-sizing: border-box;
  padding: 1em;
}

.help-close {
  position: absolute;
  right: 1em;
  border: none;
  background-color: unset;
  font-size: 2em;
  cursor: pointer;
}
</style>
