<script setup lang="ts">
import { ControlMode, type SudokuCell, type SudokuKey } from "@/data/sudokus";
import { useSudokuStore } from "@/stores/sudokus";
import { computed, ref } from "vue";
import { useI18n } from "vue-i18n";
import SudokuGridCell from "./grid/SudokuGridCell.vue";
import HelpPopup from "./HelpPopup.vue";

const { t } = useI18n();

const props = defineProps<{
  sudokuKey: SudokuKey;
}>();

const sudokuStore = useSudokuStore();
const sudoku = computed(() => sudokuStore.sudokus[props.sudokuKey]);
const showResetConfirmation = ref(false);

function enterDigit(value: number) {
  sudokuStore.enterDigit(props.sudokuKey, value);
}

const emptyCell: SudokuCell = {
  predefinedNumber: null,
  enteredNumber: null,
  selected: false,
  color: null,
  centralNotes: [],
  cornerNotes: [],
};

const boxWith = computed(() => {
  if (sudoku.value.controlMode === ControlMode.FullNumber) {
    return boxWithCentralNumber;
  } else if (sudoku.value.controlMode === ControlMode.CornerNote) {
    return boxWithCornerNote;
  } else if (sudoku.value.controlMode === ControlMode.CentralNote) {
    return boxWithCentralNote;
  } else {
    throw new Error(`unexpected control mode ${sudoku.value.controlMode}`);
  }
});

function boxWithCentralNumber(value: number): SudokuCell {
  return { ...emptyCell, predefinedNumber: value };
}
function boxWithCornerNote(value: number): SudokuCell {
  return { ...emptyCell, cornerNotes: [value] };
}
function boxWithCentralNote(value: number): SudokuCell {
  return { ...emptyCell, centralNotes: [value] };
}

function deleteSelected() {
  sudokuStore.deleteSelected(props.sudokuKey);
}

function toggleHelp() {
  sudoku.value.showHelp = !sudoku.value.showHelp;
}
</script>

<template>
  <div class="sudoku-controls">
    <div class="sudoku-button-grid">
      <button
        class="sudoku-button sudoku-button-number"
        v-for="n in 9"
        :key="n"
        @click="enterDigit(n)"
      >
        <SudokuGridCell :cell="boxWith(n)" />
      </button>
      <button
        class="sudoku-button sudoku-button-restart"
        @click="showResetConfirmation = true"
        :title="t('buttons.restart')"
      >
        <span class="full-size"><unicon name="redo" /></span>
      </button>
      <button
        class="sudoku-button sudoku-button-delete"
        @click="deleteSelected"
        :title="t('buttons.delete')"
      >
        <span class="full-size"><unicon name="cancel" /></span>
      </button>
      <button
        :class="[
          'sudoku-button',
          'control-mode',
          { selected: sudoku.controlMode === ControlMode.FullNumber },
        ]"
        style="grid-area: full-number"
        @click="sudoku.controlMode = ControlMode.FullNumber"
        :title="t('buttons.fullNote')"
      >
        <div class="bordered-cell">
          <SudokuGridCell :cell="boxWithCentralNumber(1)" />
        </div>
      </button>
      <button
        :class="[
          'sudoku-button',
          'control-mode',
          { selected: sudoku.controlMode === ControlMode.CornerNote },
        ]"
        style="grid-area: corner-note"
        @click="sudoku.controlMode = ControlMode.CornerNote"
        :title="t('buttons.cornerNote')"
      >
        <div class="bordered-cell">
          <SudokuGridCell :cell="boxWithCornerNote(1)" />
        </div>
      </button>
      <button
        :class="[
          'sudoku-button',
          'control-mode',
          { selected: sudoku.controlMode === ControlMode.CentralNote },
        ]"
        style="grid-area: central-note"
        @click="sudoku.controlMode = ControlMode.CentralNote"
        :title="t('buttons.centralNote')"
      >
        <div class="bordered-cell">
          <SudokuGridCell :cell="boxWithCentralNote(1)" />
        </div>
      </button>
      <button
        class="sudoku-button sudoku-button-help"
        @click="toggleHelp"
        :title="t('buttons.help')"
      >
        <span class="full-size"><unicon name="question-circle" /></span>
      </button>
    </div>
    <div v-if="sudoku.showHelp">
      <HelpPopup
        @close="toggleHelp"
        :help-translations="sudoku.helpTranslations"
      />
    </div>

    <div :class="{ modal: true, 'is-active': showResetConfirmation }">
      <div
        class="modal-background"
        @click="showResetConfirmation = false"
      ></div>
      <div class="modal-card">
        <header class="modal-card-head has-background-danger">
          <p class="modal-card-title has-text-white">
            {{ t("restart.title") }}
          </p>
          <button
            class="delete"
            aria-label="close"
            @click="showResetConfirmation = false"
          ></button>
        </header>
        <section class="modal-card-body">
          <p>{{ t("restart.body") }}</p>
        </section>
        <footer class="modal-card-foot buttons is-right">
          <button
            class="button is-danger"
            @click="
              sudokuStore.restart(sudokuKey);
              showResetConfirmation = false;
            "
          >
            {{ t("restart.ok") }}
          </button>
          <button class="button" @click="showResetConfirmation = false">
            {{ t("restart.cancel") }}
          </button>
        </footer>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@media print {
  .sudoku-controls {
    display: none;
  }
}

.sudoku-button-grid {
  display: grid;
  grid:
    "auto auto auto full-number" 1fr
    "auto auto auto corner-note" 1fr
    "auto auto auto central-note" 1fr
    "restart delete delete help" 1fr
    / 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.sudoku-button-number > svg {
  display: block;
}

.sudoku-button {
  border: 3px solid gray;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(233, 233, 237);

  &.control-mode.selected {
    border-color: black;
    background-color: rgb(203, 203, 207);
  }
}

.sudoku-button-restart {
  grid-area: restart;
  padding: 0.75em;
}

.sudoku-button-delete {
  grid-area: delete;
}

.sudoku-button-help {
  grid-area: help;
  padding: 0.5em;
}

.bordered-cell {
  border: 1px solid black;
  margin: 0.5em;
}

.sudoku-button text {
  &.corner-notes,
  &.central-notes {
    font-size: 25%;
  }
}
</style>

<i18n lang="yaml">
de:
  buttons:
    restart: "Das gesamte Sudoku löschen und neu beginnen"
    delete: "Die Zahlen aus den gewählten Feldern löschen"
    fullNote: "Die Zahlen einfüllen"
    cornerNote: "Die Zahlen als Notiz in die Ecke einfüllen"
    centralNote: "Die Zahlen als Notiz in die Mitte einfüllen"
    help: "Hilfe zu diesem Sudoku"
  restart:
    title: "Bestätigung"
    body: "Bist du sicher? Es werden alle eingegeben Zahlen und Notizen gelöscht."
    ok: "Sudoku neustarten"
    cancel: "Abbrechen"

en:
  buttons:
    restart: "Delete the whole grid and start fresh"
    delete: "Delete the numbers from the selected fields"
    fullNote: "Write the numbers"
    cornerNote: "Write the numbers as notes in the corner"
    centralNote: "Write the numbers as notes in the center"
    help: "Help for this sudoku"
  restart:
    title: "Confirmation"
    body: "Are you sure? All entered numbers and notes get deleted."
    ok: "Restart Sudoku"
    cancel: "Cancel"
</i18n>
