<script setup lang="ts">
import type { SudokuKey } from "@/data/sudokus";
import { useMetaStore } from "@/stores/meta";
import { computed, onMounted, watch } from "vue";
import { useI18n } from "vue-i18n";
import SudokuGrid from "./grid/SudokuGrid.vue";
import SudokuControls from "./SudokuControls.vue";

const { t } = useI18n();

const props = defineProps<{
  sudokuKey: SudokuKey;
}>();

const metaStore = useMetaStore();

const sudokuName = computed(() => t(`sudokus.${props.sudokuKey}`));

onMounted(() => metaStore.setSubTitle(sudokuName.value));

watch(sudokuName, () => metaStore.setSubTitle(sudokuName.value));
</script>

<template>
  <div>
    <h1>{{ sudokuName }}</h1>
    <div class="sudoku-panel">
      <SudokuGrid :sudoku-key="sudokuKey" />
      <div class="sudoku-controls-wrapper">
        <SudokuControls class="sudoku-controls" :sudoku-key="sudokuKey" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.sudoku-panel {
  display: grid;
  grid-template-columns: auto;
  gap: 1em;
}

.sudoku-controls {
  width: 60%;
  margin: auto;
}

@media screen and (min-width: 640px) {
  .sudoku-panel {
    grid-template-columns: 70% auto;
  }

  .sudoku-controls-wrapper {
    height: 100%;
    position: relative;
  }

  .sudoku-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
</style>

<i18n src="@/locales/sudokus.yaml" lang="yaml"></i18n>
