@import "./globals.scss";
@import 'bulma/bulma.sass';

.full-size > .unicon {
  width: 100%;
  height: 100%;

  > svg {
    width: unset;
    height: unset;
    min-height: 100%;
  }
}

.content p.modal-card-title {
  margin-bottom: 0;
}
