<script setup lang="ts">
import router from "@/router";
import { useMetaStore } from "@/stores/meta";
import { useSudokuStore } from "@/stores/sudokus";
import { onMounted, ref } from "vue";
import { useI18n } from "vue-i18n";

const { locale, availableLocales } = useI18n({ useScope: "global" });
const { t } = useI18n();
const sudokus = useSudokuStore().visibleSudokus;

function updateTitle() {
  document.title = metaStore.fullTitle;
}

const metaStore = useMetaStore();
metaStore.$subscribe(updateTitle);
onMounted(updateTitle);

const showNavigation = ref(false);

router.afterEach(() => (showNavigation.value = false));
</script>

<template>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <RouterLink to="/" class="navbar-item">Sudoku @ Keltec</RouterLink>

        <a
          role="button"
          class="navbar-burger"
          aria-label="menu"
          aria-expanded="false"
          @click="showNavigation = !showNavigation"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div :class="{ 'navbar-menu': true, 'is-active': showNavigation }">
        <div class="navbar-start">
          <RouterLink
            v-for="(_sudoku, urlKey) in sudokus"
            :to="`/sudoku/${urlKey}`"
            :key="urlKey"
            v-t="`sudokus.${urlKey}`"
            class="navbar-item"
          ></RouterLink>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">{{ t("language") }}</a>

            <div class="navbar-dropdown">
              <a
                :class="{ 'navbar-item': true, 'is-active': l === locale }"
                v-for="l in availableLocales"
                :key="`locale-${l}`"
                @click="locale = l"
                >{{ l }}</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container">
    <RouterView />
  </div>
</template>

<style lang="scss">
@media print {
  nav {
    display: none;
  }
}
</style>

<i18n src="@/locales/sudokus.yaml" lang="yaml"></i18n>

<i18n lang="yaml">
de:
  language: Sprache

en:
  language: Language
</i18n>
